.wrap {
  padding-left: 240px;
  padding-top: 64px;
  @media screen and (max-width: 1279px) {
      padding-left: 0;

  }

  //.appBar {
  //  z-index: 1200;
  //}
  //
  //.drawer {
  //  z-index: 1100;
  //}
}
