.positionTable {
  .headTableCell {
    //cursor: pointer;
    //.headTableCell__button{
    //  cursor: pointer;
    //  //text-transform: none;
    //
    //}
    span {
      cursor: pointer;
      position: relative;
    }

    .ascending::after {
      content: '↓';
      display: inline-block;
      position: absolute;
      right: -11px;
    }

    .descending::after {
      content: '↑️';
      display: inline-block;
      position: absolute;
      right: -11px;    }
  }

}
